:host{
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 24px 0;
}

h1{
  flex-shrink: 0;
  color: var(--text);
  font: var(--font-h1);
  cursor: pointer;
  &:hover{
    color: var(--primary-text);
  }
}

.header-content-select{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  width: 100%;
}
