<ul>
  <li><span class="pi pi-angle-right"></span> Транспорт
    <ul>
      <li>Легковые автомобили</li>
      <li>Мототехника</li>
      <li>Грузовые автомобили</li>
    </ul>
  </li>
  <li><span class="pi pi-angle-right"></span> Недвижимость
    <ul>
      <li><span class="pi pi-angle-right"></span>Квартиры
        <ul>
          <li>Однокомнатные</li>
          <li>Двухкомнатные</li>
          <li>Трёхкомнатные</li>
        </ul>
      </li>
      <li>Дома</li>
      <li>Дачи</li>
    </ul>
  </li>
  <li><span class="pi pi-angle-right"></span> Бытовая техника
    <ul>
      <li>Пылесосы</li>
      <li>Холодильники</li>
      <li>Кондиционеры</li>
    </ul>
  </li>
</ul>
