<div (click) = 'clickCard(product.id)' product = "product" [routerLink]="['/product-card']">
  <img src={{product.imgs[0]}} alt={{product.imgs[0]}}>
  <div class="card-text">
      <h6 class = "card-text-name" (click) = 'clickName($event, product.name)' [routerLink]="['/search']">{{product.name}}</h6>
      <p class = "card-text-price">{{product.price}} <span>₽</span></p>
      <p class = "card-text-address">{{product.address}}</p>
      <p class = "card-text-date">{{product.dateCreate}}</p>
  </div>
</div>
