<header>
  <h4>Авторизация</h4>
  <span class="pi pi-times" (click)="closeForm(['.modal-window', 'app-auth-modal'])"></span>
</header>
<form [formGroup]="authReactiveForm" (click)="onSubmit()">
  <div class="fields">
    <input type="tel" placeholder="Номер телефона" formControlName="login" maxlength="16" appPhoneMask autofocus>
    <div class="input-message" [ngClass]="{'error': isControlInvalid('login')}">
      Введите номер в формате +7(999)999-99-99.
    </div>
    <div class="fields-pass">
      <input type="password" placeholder="Пароль" formControlName="password" minlength="8" maxlength="50">
      @if(isControlInvalid('password')){
        <div class="input-message hint-pwd error">
          Должны быть только латинские буквы и цифры от 8-ти до 50 символов.
        </div>
      }
      <div class="fields-pass-add">
        <label for="check"><input type="checkbox" id="check"> Запомнить меня</label>
        <p>Забыли пароль?</p>
      </div>
    </div>
  </div>
  <app-button label="Войти" fontStyle = 'var(--font-regular-normal)' padding="12px 40px" maxWidth="max-content"></app-button>
</form>

