<header>
  <h4>Авторизация</h4>
  <span class="pi pi-times" (click)="closeForm(['.modal-window', 'app-auth-modal'])"></span>
</header>
<form [formGroup]="authReactiveForm" (click)="onSubmit()">
  <div class="fields">
    <input type="tel" placeholder="Номер телефона" formControlName="tel">
    <div class="input-message" [ngClass]="{'error': isControlInvalid('tel')}">
      Введите номер в формате +7(или 8)-999-999-99-99. Ставить "-" между цифрами необязательно.
    </div>
    <div class="fields-pass">
      <input type="password" placeholder="Пароль" formControlName="pwd" minlength="8" maxlength="50">
      <div class="fields-pass-add">
        <label for="check"><input type="checkbox" id="check" formControlName="rem"> Запомнить меня</label> 
        <p>Забыли пароль?</p>
      </div>
      <div class="input-message" [ngClass]="{'error': isControlInvalid('pwd')}">
        Введите от 6-ти до 20 символов. Можно использовать только латинские буквы и цифры.
      </div>
    </div>
  </div>
  <app-button label="Войти" fontStyle = 'var(--font-regular-normal)' padding="12px 40px" maxWidth="max-content"></app-button>
</form>

