*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter",sans-serif;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  box-shadow: none;
}

*:focus, *:active, *:hover {
outline: none;
box-shadow: none;
}