<div class="heading-btns wrapper">
  <div class="btn-nav">
    @if (!userRole) {
      <app-button label="Войти" (click)="toggleHiddenService.toggleHidden('nav')" iconLeft="pi pi-user" colorClass = "color-none" padding = "8px 0" gap = "8px" max-width = "70px" fontStyle = 'var(--font-small-normal)'></app-button>
      <nav class="entry hidden" (click)="toggleHiddenService.toggleHidden('nav')">
        <p (click)="showDialog('signup')" value="signup">Регистрация</p>
        <p (click)="showDialog('login')" value="login">Авторизация</p>
      </nav>
    } @else {
        <app-button label="{{userName}}" (click)="toggleHiddenService.toggleHidden('nav')" iconLeft="pi pi-user" iconRight="pi pi-angle-down" colorClass = "color-none" padding = "8px 0" gap = "8px" max-width = "70px" fontStyle = 'var(--font-small-normal)'></app-button>
        <nav class="navPA hidden" (click)="toggleHiddenService.toggleHidden('nav')">
          <p value="myAdds">Мои объявления</p>
          <p value="settings">Настройки</p>
          <p value="exit" (click)="authService.logout()">Выход</p>
        </nav>
      }
  </div>
  <app-button label="Новое объявление" iconRight="pi pi-plus" padding = "6px 12px" max-width = "179px"></app-button>
</div>
<app-modal-full>
  <app-auth-modal class="hidden"></app-auth-modal>
  <app-reg-modal class="hidden"></app-reg-modal>
</app-modal-full>
