<div class="heading-btns wrapper">
  <div class="btn-nav">
    @if (userRole.getUserRole() === 'guest') {
      <app-button label="Войти" (click)="showNav()" iconLeft="pi pi-user" colorClass = "color-none" padding = "8px 0" gap = "8px" max-width = "70px" fontStyle = 'var(--font-small-normal)'></app-button>
      <nav class="entry hidden" (click)="showNav()">
        <p value="signup">Регистрация</p>
        <p (click)="login()" value="login">Авторизация</p>
      </nav>
    } @else {
        <app-button label="{{userName}}" (click)="showNav()" iconLeft="pi pi-user" iconRight="pi pi-angle-down" colorClass = "color-none" padding = "8px 0" gap = "8px" max-width = "70px" fontStyle = 'var(--font-small-normal)'></app-button>
        <nav class="navPA hidden" (click)="showNav()">
          <p value="myAdds">Мои объявления</p>
          <p value="settings">Настройки</p>
          <p value="exit">Выход</p>
        </nav>
      }
  </div>
  <app-button label="Новое объявление" iconRight="pi pi-plus" padding = "6px 12px" max-width = "179px"></app-button>
</div>
